*{
    --primary: #8d4380;
    --on-primary: #ffffff;
    --primary-container: #ffd7f2;
    --on-primary-container: #390035;
    --secondary: #6e5868;
    --on-secondary: #ffffff;
    --secondary-container: #f8daed;
    --on-secondary-container: #271623;
    --tertiary: #815343;
    --on-tertiary: #ffffff;
    --tertiary-container: #ffdbcf;
    --on-tertiary-container: #321206;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;
    --background: #fffbff;
    --on-background: #1f1a1d;
    --surface: #fff7f9;
    --on-surface: #1f1a1d;
    --surface-variant: #eedee7;
    --on-surface-variant: #4e444a;
    --outline: #80747b;
    --outline-variant: #d2c2cb;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #342f32;
    --inverse-on-surface: #f8eef2;
    --inverse-primary: #ffacec;
    --surface-dim: #e1d8db;
    --surface-bright: #fff7f9;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #fbf1f5;
    --surface-container: #f5ebef;
    --surface-container-high: #efe6e9;
    --surface-container-highest: #eae0e3;
}
